@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #9a9494;
    font-family: var(--font1);
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    padding-right: 25px;
    font-family: var(--font3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 1.5em;
}

section.normal {
    background-color: #ffffff;
    color: #000000;
}

section.imagem {
    background-color: #454545;
    color: #ffffff;
    box-shadow: inset 5px 5px 12px #0000007e;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: #1a18184e;
    padding: 5px;
    text-shadow: 1px 1px 1px #000000;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right, center;
    background-size: cover;
}


section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right, center;
    background-size: cover;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

